<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password change</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
        <h1>Resend Password</h1>
        <form action="\resendCompanyPassword" method="post">
            <input type="CompanyId" name="CompanyId" placeholder="CompanyId">
            <input type="submit" value="Submit">
        </form>
        <dev>
            <a href="/companyLogin">Login</a>
            <a href="/signupAsCompany">New user?</a>
            <a href="#">Password will been sent to the provided email</a>
        </dev>
    </div>
</body>
</html>