<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password change</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="main_div">
        <h1>Resend Password</h1>
        <form action="\resendPassword" method="post" class="main_form">
            <input type="UserId" name="UserId" placeholder="UserId">
            <input type="submit" value="Submit">
        </form>
        <dev class="link_div">
            <a href="/login" class="link">Login</a>
            <a href="/signup" class="link">New user?</a>
            <a class="link">Password will been sent to the provided email</a>
        </dev>
    </div>
</body>
</html>