<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Information</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="main_div">
        <h1>Product Information Form</h1>
        <form action="/sellProduct" method="post"  enctype="multipart/form-data" class="main_form">
            <input type="text" id="SellerId" name="SellerId" required placeholder="SellerId">
            <input type="text" id="Name" name="Name" required placeholder="Product name">
            <textarea id="Description" name="Description" required placeholder="Description"></textarea>
            <input type="text" id="Discount" name="Discount" required placeholder="Discount">
            <input type="text" id="Price" name="Price" required placeholder="Price">
            <input type="text" id="Stock" name="Stock" required placeholder="Stock">
            <input type="file" id="ProductImages" name="files" multiple placeholder="Uplode Product Images">
            <input type="submit" value="Submit"></input>
        </form>
    </div>
</body>
</html>
