<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="login.css">    
</head>
<body>
    <div>
        <h1>Signup as Company</h1>
        <form class="form" method="post" action="/createCompany">
            <input type="text" class="input" id="Name" name="Name" placeholder="Name">
            <input type="text" class="input" id="ContactPerson" name="ContactPerson" placeholder="ContactPerson"> 
            <input type="text" class="input" id="PhoneNumber" name="PhoneNo" placeholder="PhoneNumber">
            <input type="password" class="input" id="Password" name="Password" placeholder="Password">
            <input type="email" class="input" id="Email" name="Email" placeholder="Email">
            <input type="submit" value="Submit">
        </form>
        <a href="/companyLogin">login</a>
    </div>
</body>
</html>
