body{
    scale: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: rgb(0, 7, 14);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    overflow: hidden;
}

.main_div{
    background-color: rgb(20, 20, 20);
    box-shadow: 0 0 10px rgb(55, 55, 76);
    border-radius: 50px;
    color: rgb(216, 215, 215);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 40%;
    min-height: 40%;
    padding: 8px;
}
.link_div{
    display: flex;
    justify-content: space-around;
}
h1,h2{
    margin-bottom: 0px;
    padding-left: 20px;
    color:rgb(136, 177, 215);
}
.main_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height:50%;
}
.main_div>form>input,.main_div>form>select,.main_div>form>textarea{
    padding: 20px;
    background-color: rgb(33, 33, 33);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-size: large;
}
.main_div>form>input::placeholder{
    color: rgb(255, 255, 255);
    font-size: large;
}
form>input:hover{
    box-shadow: 0 0 5px rgba(253, 252, 255, 0.7);
}
.main_div>form>input[type='submit']{
    background-color: rgb(43, 75, 100);
    color: rgb(0, 0, 0);
    font-size: large;
}
.link {
    text-decoration: none;
    padding-left: 20px;
    color: rgb(220, 220, 255);
    font-size: large;
}
table{
    padding-left: 20px;
}

th{
    font-size: larger;
    text-align: center;
    color: rgb(255, 255, 255);
}
